@using LamConference.ViewModel
@model IList<LamConference.ViewModel.FinanceDashboardViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LamConference</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <header class="dashboardHeader">
        <nav>
            <div class="header flex">
                <div class="logo"><h1><span class="caps">lam </span>Conference</h1></div>

                <ul id="ul" class="flex">
                    <li><a asp-controller="RefID" asp-action="GenerateID">Generate RefID</a></li>
                    <li><a asp-controller="RefID" asp-action="ViewGeneratedIDs">View RefIDs</a></li>
                    <li class="aside">
                        <form asp-controller="Account" asp-action="LogOut" method="post">
                            <button class="btn redBtn">Logout</button>
                        </form>
                    </li>
                </ul>

                <div id="hamburger">
                    <div id="fcross" class="cross fcross"></div>
                    <div id="scross" class="cross scross"></div>
                </div>
            </div>
        </nav>
    </header>
    <div id="bg" class="bg"></div>

        <div class="displayContainer">
            <div class="statistics">

                <div class="statisticsCards flex">
                    <h2>Idan, <span class="text">welcome</span></h2>
                    <div class="flex statisticsCardsContent">                        
                        <div class="card flex greenCard">
                            <div class="cardContent flex">
                                <h3>@Html.DisplayNameFor(model => model[0].AvailableRefID)</h3>
                                <h2>@Html.DisplayFor(model => Model.FirstOrDefault().AvailableRefID)</h2>
                            </div>
                        </div>
                        <div class="card flex redCard">
                            <div class="cardContent flex">
                                <h3>@Html.DisplayNameFor(model => model[0].TotalGeneratedID)</h3>
                                <h2>@Html.DisplayFor(model => Model.FirstOrDefault().TotalGeneratedID)</h2>
                            </div>
                        </div>
                        <div class="card flex blueCard">
                            <div class="cardContent flex">
                                <h3>@Html.DisplayNameFor(model => model[0].TotalRegisteredStudents)</h3>
                                <h2>@Html.DisplayFor(model => Model.FirstOrDefault().TotalRegisteredStudents)</h2>
                            </div>
                        </div>
                    </div>                    
                </div>                
            </div>

            <div class="dashTblContainer">
                <div class="tableContainer">
                    <div class="table viewRefIDtbl">
                        <table>
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>@Html.DisplayNameFor(model => model[0].FirstName)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].LastName)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].Level)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].Department)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].Email)</th>
                                </tr>
                            </thead>
                            <tbody>
                               @for(int i=0; i<Model.Count; i++)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Html.DisplayFor(model => Model[i].FirstName)</td>
                                        <td>@Html.DisplayFor(model => Model[i].LastName)</td>
                                        <td>@Html.DisplayFor(model => Model[i].Level)</td>
                                        <td>@Html.DisplayFor(model => Model[i].Department)</td>
                                        <td>@Html.DisplayFor(model => Model[i].Email)</td>
                                    </tr>
                                }
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    <script src="~/js/main.js"></script>
</body>
</html>