@using LamConference.ViewModel
@model IEnumerable<LamConference.ViewModel.ITDashboardViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LamConference</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav>
            <div class="header flex">
                <div class="logo"><h1><span class="caps">lam </span>Conference</h1></div>

                <ul class="flex">
                    <li><a asp-controller="RefID" asp-action="ViewGeneratedIDs">Generated RefIDs</a></li>
                    <li class="aside">
                        <form asp-controller="Account" asp-action="LogOut" method="post">
                            <button class="btn redBtn">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <body>
        <div class="mainContainer centerTxt">
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                        <th>@Html.DisplayNameFor(model => model.Level)</th>
                        <th>@Html.DisplayNameFor(model => model.Department)</th>
                        <th>@Html.DisplayNameFor(model => model.RefID)</th>
                        <th>@Html.DisplayNameFor(model => model.AvailableRefID)</th>
                        <th>@Html.DisplayNameFor(model => model.TotalGeneratedID)</th>
                        <th>@Html.DisplayNameFor(model => model.TotalRegisteredStudents)</th>
                        <th>@Html.DisplayNameFor(model => model.EstimatedAmount)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.FirstName)</td>
                            <td>@Html.DisplayFor(model => item.LastName)</td>
                            <td>@Html.DisplayFor(model => item.Telephone)</td>
                            <td>@Html.DisplayFor(model => item.Level)</td>
                            <td>@Html.DisplayFor(model => item.Department)</td>
                            <td>@Html.DisplayFor(model => item.RefID)</td>
                            <td>@Html.DisplayFor(model => item.AvailableRefID)</td>
                            <td>@Html.DisplayFor(model => item.TotalGeneratedID)</td>
                            <td>@Html.DisplayFor(model => item.TotalRegisteredStudents)</td>
                            <td>@Html.DisplayFor(model => item.EstimatedAmount)</td>
                            <td>
                                <form asp-action="DeleteReferenceID" asp-route-id="@item.RefID">
                                    @* <input asp-for="item.RefID" type="hidden"> *@
                                    <button>delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</body>
</html>
